$text_color: #043848

.content
    display: flex
    justify-content: space-between
    color: $text_color

    .delivery
        display: flex
        flex-direction: column
        gap: 25px
        width: calc(43% - 40px)

        .delivery_item
            display: flex
            flex-direction: column
            gap: 10px
            color: $text_color

            .label
                font-family: 'Russo One'
                font-size: 20px

            .value
                font-size: 16px

        .delivery_phone
            font-family: 'Russo One'
            font-size: 28px

        button
            width: 245px

    .map_container
        width: 57%
        display: flex
        flex-direction: column
        gap: 15px

        .title
            font-family: 'Russo One'
            font-size: 28px

        img
            width: 100%
            height: auto
