.clients
    display: flex
    flex-wrap: wrap
    width: 100%
    margin-top: 10px
    row-gap: 30px
    justify-content: space-between

    .client
        width: calc((100% - 30px) / 5)
        display: flex
        align-items: center
        justify-content: center

        img
            width: auto

@media (max-width: 750px)
    .clients
        .client
            width: calc((100% - 15px) / 3)

@media (max-width: 500px)
    .clients
        justify-content: space-evenly

        .client
            width: calc((100% - 10px) / 2)
