$text_color: #043848
$main_text_color: #FFFFFF
$gray_color: #CFCFC7
$active_color: #01AAC1
$text_black: #212121
$filter_gray_color: #748491

.wrapper
    display: flex
    justify-content: center
    width: 100vw
    color: $text_color

    .container
        display: flex
        flex-direction: column
        gap: 150px
        width: 1320px

        .breadcumbs
            display: flex
            align-items: center
            padding: 60px 0
            font-size: 14px
            gap: 5px
            flex-wrap: wrap

            .element
                opacity: 0.5

            .link
                cursor: pointer
                transition: all .2s ease-out

            svg
                width: 15px
                height: auto

                *
                    stroke: $gray_color

        .content
            margin-top: -150px
            display: flex
            flex-direction: column
            gap: 40px

            .subcategories_list
                display: flex
                flex-wrap: wrap
                gap: 30px

                .subcategory
                    width: calc((100% - 60px) / 3 - 42px)
                    display: flex
                    flex-direction: column
                    cursor: pointer
                    padding: 20px
                    border-radius: 4px
                    gap: 20px
                    transition: all .2s ease-out
                    justify-content: space-between
                    border: 1px solid $main_text_color

                    .name
                        font-family: "Russo One"
                        font-size: 20px
                        line-height: 24px
                        transition: all .2s ease-out

                    img
                        width: 100%
                        height: auto

            .products_wrapper
                display: flex
                flex-direction: column
                gap: 40px

                .filters_container
                    display: none

                .filters
                    display: flex
                    gap: 20px
                    flex-wrap: wrap

                    .filter
                        width: calc((100% - 60px) / 4)

                    .main_filter
                        display: flex
                        flex-wrap: wrap
                        gap: 20px
                        flex-grow: 1

                        .filter
                            display: flex
                            flex-direction: column
                            gap: 10px
                            font-weight: 300
                            font-size: 16px

                            &.price
                                width: calc(50% - 10px)

                                .inputs
                                    display: flex
                                    gap: 20px
                                    width: 100%

                                    input
                                        width: calc(50% - 40px)
                                        height: 22px

                .products_list
                    display: flex
                    flex-wrap: wrap
                    width: 100%
                    gap: 33px

                    .card
                        width: calc((100% - 99px) / 4)

                .pagination
                    display: flex
                    align-self: center
                    align-items: end

                    .page
                        font-size: 16px
                        font-weight: 300
                        border-radius: 4px
                        height: 24px
                        width: 24px
                        display: flex
                        align-items: center
                        justify-content: center
                        transition: all .25s ease-out
                        cursor: pointer
                        color: $text_black

                        &.active
                            background-color: $active_color
                            color: $main_text_color

                    .separator
                        font-size: 16px
                        color: $text_black
                        font-weight: 300
                        width: 24px
                        height: 24px
                        display: flex
                        align-items: end
                        justify-content: center

                    .prev_button,
                    .next_button
                        cursor: pointer
                        height: 24px
                        width: 24px
                        display: flex
                        align-items: center
                        justify-content: center

                        svg
                            *
                                stroke: $text_black

                    .prev_button
                        margin-right: 10px

                        svg
                            transform: rotate(180deg)

                    .next_button
                        margin-left: 10px

        .recommended_products
            display: flex
            flex-direction: column
            gap: 35px
            margin-bottom: 50px

            .recommended_products_list
                display: flex
                flex-wrap: wrap
                width: 100%
                gap: 33px

            .slider
                display: none

            .card
                width: calc((100% - 99px) / 4)

.filters_wrapper
    width: 0
    overflow: hidden
    transition: all .15s ease-out
    position: fixed
    display: flex
    z-index: 15
    top: 0
    left: 0
    height: 100vh

    .overlay
        display: flex
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        z-index: 16
        background: rgba(0, 0, 0, 0)
        transition: all .15s ease-out

    &.active
        width: 100vw

        .overlay
            background: rgba(0, 0, 0, 0.8)

    .wrapper_content
        width: 300px
        height: max-content
        background-color: $main_text_color
        padding: 25px
        display: flex
        flex-direction: column
        gap: 10px
        z-index: 16

        .close_button
            display: flex
            align-items: center
            justify-content: start
            width: 40px
            height: 40px
            cursor: pointer

            svg
                width: 35px
                height: 35px

                *
                    fill: $active_color

        .back_button
            display: flex
            height: max-content
            align-items: center
            gap: 5px
            color: $active_color
            font-weight: 700
            font-family: "Roboto"
            font-size: 18px

            svg
                transform: rotate(180deg)
                width: 25px
                height: 25px

                *
                    stroke: $active_color

        .clear_filters
            display: flex
            height: max-content
            align-items: center
            gap: 5px
            color: $filter_gray_color
            font-weight: 400
            font-family: "Roboto"
            font-size: 14px

            svg
                width: 20px
                height: 20px

                *
                    fill: $filter_gray_color

        .filters_list
            display: flex
            flex-direction: column
            gap: 5px

            input
                width: calc(100% - 30px)

@media (min-width: 1024px)
    .wrapper
        .container
            .breadcumbs
                .link
                    &:hover
                        color: $active_color

            .content
                .subcategories_list
                    .subcategory
                        &:hover
                            border: 1px solid $active_color

                            .name
                                color: $active_color

@media (max-width: 1380px)
    .wrapper
        .container
            width: calc(100% - 120px)
            padding: 0 60px
            gap: 100px

            .breadcumbs
                padding: 40px 0

            .content
                margin-top: -100px

                .subcategories_list
                    display: flex
                    gap: 20px

                    .subcategory
                        width: calc((100% - 40px) / 3 - 42px)

                .products_wrapper
                    .products_list
                        gap: 20px

                        .card
                            width: calc((100% - 40px) / 3)

            .recommended_products
                .recommended_products_list
                    display: none

                .slider
                    display: block
                    width: 100%
                    align-self: center

                .card
                    width: auto
                    margin: 0 15px

@media (max-width: 1300px)
    .wrapper
        .container
            .content
                .products_wrapper
                    .filters
                        .filter
                            width: calc((100% - 40px) / 3)

                        .main_filter
                            .filter
                                &.price
                                    width: calc(((100% - 40px) / 3) * 2)

@media (max-width: 1024px)
    .wrapper
        .container
            gap: 75px

            .breadcumbs
                padding: 30px 0

            .content
                margin-top: -75px
                gap: 50px

                .subcategories_list
                    .subcategory
                        padding: 15px
                        width: calc((100% - 20px) / 2 - 32px)

                .products_wrapper
                    .filters
                        .filter
                            width: calc((100% - 20px) / 2)

                        .main_filter
                            .filter
                                &.price
                                    width: 100%

                    .products_list
                        .card
                            width: calc((100% - 20px) / 2)

            .recommended_products
                .card
                    margin: 0 10px

@media (max-width: 768px)
    .wrapper
        .container
            width: calc(100% - 40px)
            padding: 0 20px
            gap: 50px

            .breadcumbs
                padding: 20px 0

            .content
                margin-top: -50px
                gap: 35px

                .subcategories_list
                    .subcategory
                        width: calc((100% - 20px) / 2 - 32px)

                .products_wrapper
                    .products_list
                        .card
                            width: calc((100% - 20px) / 2)

            .recommended_products
                .card
                    margin: 0 5px

@media (max-width: 500px)
    .wrapper
        .container
            .content
                .subcategories_list
                    gap: 15px

                    .subcategory
                        width: calc(100% - 32px)

                .products_wrapper
                    .filters
                        .filter
                            width: 100%

                    .products_list
                        gap: 15px

                        .card
                            width: 100%

@media (max-width: 380px)
    .wrapper
        .container
            .content
                .products_wrapper
                    .filters
                        display: none

                    .filters_container
                        display: flex
                        align-items: center
                        width: 100%
                        justify-content: space-between

                        .sort
                            font-family: "Roboto"
                            display: flex
                            gap: 10px
                            font-size: 18px
                            color: $text_color
                            font-weight: 400
                            align-items: center

                            input[type='checkbox']
                                clip: rect(0 0 0 0)
                                clip-path: inset(50%)
                                height: 1px
                                overflow: hidden
                                position: absolute
                                white-space: nowrap
                                width: 1px

                            .checkbox
                                display: flex
                                align-items: center
                                gap: 5px
                                font-weight: 300

                                .checkbox_mark
                                    cursor: pointer
                                    height: 18px
                                    width: 18px
                                    background: $main_text_color
                                    border: 1px $active_color solid
                                    border-radius: 4px
                                    padding: 3px
                                    display: flex
                                    transition: all .2s ease-out
                                    flex-shrink: 0

                                    svg
                                        height: 100%
                                        width: 100%

                                    &.active
                                        background-color: $active_color

                        .filter_button
                            display: flex
                            width: 25px
                            height: 25px
                            display: flex
                            justify-content: end
                            align-items: center

                            svg
                                width: auto
                                height: 20px

                                *
                                    stroke: $text_color

                                &.list
                                    height: 25px

@media (max-width: 360px)
    .wrapper
        .container
            width: calc(100% - 20px)
            padding: 0 10px
            gap: 40px

            .content
                margin-top: -40px
                gap: 25px
