$background_color: #FFFFFF
$text_color: #043848
$dark_color: #0A0C0D

.wrapper
    background-color: $dark_color
    display: flex
    flex-direction: column

    .face_container
        min-height: 100vh
        width: 100vw
        background-color: $dark_color
        display: flex
        height: max-content

        .container
            position: relative
            display: flex
            flex-direction: column
            gap: 40px
            width: calc(100vw - (100vw - 1320px))
            padding-top: 250px
            padding-bottom: 25px
            padding-left: calc((100vw - 1320px) / 2)

            .title
                font-size: 60px
                line-height: 72px
                font-family: "Russo One"
                width: 980px
                color: $background_color
                z-index: 10

            button
                margin-top: 20px
                width: 256px
                font-size: 20px
                font-weight: 500
                overflow: hidden
                transition: all .2s ease-out
                display: flex
                gap: 8px

                svg
                    width: 25px
                    height: 25px

            .separator
                width: 675px
                margin-left: calc((1320px - 100vw) / 2)
                display: flex
                align-items: center

                .line
                    height: 1px
                    width: 658px
                    background-color: $background_color

                .circle
                    height: 17px
                    width: 17px
                    border-radius: 25px
                    background-color: $background_color

            .about
                display: flex
                flex-direction: column
                gap: 40px
                color: $background_color
                margin-top: -30px

                h5
                    color: $background_color

                .about_list
                    display: flex
                    flex-direction: column
                    gap: 20px

                    .about_item
                        font-size: 22px
                        font-family: "Russo One"

            img
                position: absolute
                z-index: 10
                bottom: 0
                right: -50px
                height: 620px
                width: auto

    .slider_container
        height: 100vh
        width: 100vw
        background-image: url("../../../../assets/images/slider_background.png")
        background-size: cover
        background-repeat: no-repeat
        background-position: center
        display: flex
        flex-direction: column
        align-items: center
        overflow: hidden

        .container
            display: flex
            gap: 40px
            height: 100%
            width: 100%

            .content
                display: flex
                flex-direction: column
                align-items: end
                width: 50%
                padding-top: 90px

                .head
                    width: calc(50vw - (100vw - 1320px) / 2)
                    display: flex
                    flex-direction: column
                    gap: 40px

                    h1
                        color: $background_color

                    .production_list
                        display: flex
                        gap: 30px
                        align-items: center
                        width: max-content

                        .production_item
                            display: flex
                            align-items: center
                            justify-content: center
                            width: 80px
                            height: 80px
                            border-radius: 4px
                            cursor: pointer
                            background-color: $background_color

                            img
                                width: 100%
                                height: auto

                    .indicator
                        margin-top: -20px
                        background-color: $background_color
                        width: 40px
                        height: 3px
                        border-radius: 5px
                        transition: all 0.4s ease-out
                        margin-left: 20px

                .description_container
                    display: flex
                    flex-grow: 1
                    align-items: center
                    width: 100%

                    .description
                        display: flex
                        background-color: $background_color
                        border-radius: 0 4px 4px 0
                        padding: 70px 0
                        width: calc((100vw - 1320px) / 2 + 520px)
                        justify-content: end
                        transition: all 0.4s ease-out

                        .text
                            display: flex
                            width: 520px
                            flex-direction: column
                            gap: 40px
                            color: $text_color

                            .name
                                font-family: "Roboto"
                                font-weight: 700
                                font-size: 30px
                                opacity: 0
                                transition: all 0.4s ease-out

                                &.active
                                    opacity: 1

                            .about
                                margin-top: -25px
                                padding-right: 50px
                                font-size: 14px
                                opacity: 0
                                transition: all 0.4s ease-out

                                &.active
                                    opacity: 1

                                p
                                    margin-top: 5px

                            .bottom
                                display: flex
                                align-items: center
                                gap: 30px

                                .price
                                    font-size: 22px
                                    font-weight: 700
                                    opacity: 0
                                    transition: all 0.4s ease-out

                                    &.active
                                        opacity: 1

                                button
                                    width: 256px

            .slider
                width: 570px
                height: 100vh

                &.vertical
                    display: block

                &.horizontal
                    display: none

                .image
                    width: calc(100% - 20px)
                    padding: 25px 0
                    height: 500px

                    img
                        width: 100%
                        height: auto
                        opacity: 0.5
                        transition: all 0.2s ease-out

                        &.active
                            opacity: 1

@media (max-width: 1380px)
    .wrapper
        .face_container
            .container
                width: calc(100% - 120px)
                padding: 0 60px
                padding-top: 250px
                gap: 20px

                .title
                    width: 670px
                    font-size: 31px
                    line-height: 40px

                button
                    width: 180px
                    height: 50px
                    font-size: 16px
                    margin-bottom: 20px
                    margin-top: 0

                    svg
                        width: 20px
                        height: 20px

                .separator
                    width: 400px
                    margin-left: - 60px

                    .line
                        width: 383px

                .about
                    gap: 20px
                    margin-top: -10px

                    h5
                        font-size: 20px

                    .about_list
                        gap: 10px

                        .about_item
                            font-size: 18px

                img
                    height: 60vh
                    right: 60px
                    bottom: 5vh

        .slider_container
            .container
                gap: 10px

                .content
                    width: 60vw
                    padding-top: 60px

                    .head
                        width: calc(60vw - 60px)
                        padding-left: 60px
                        gap: 20px

                        .production_list
                            gap: 20px

                        .indicator
                            margin-top: 0

                    .description_container
                        .description
                            width: calc(60vw - 100px)
                            padding: 40px
                            padding-left: 60px

                            .text
                                width: 100%
                                gap: 20px

                                .name
                                    font-size: 20px

                                .about
                                    margin-top: -5px

                                .bottom
                                    .price
                                        font-size: 18px

                                    button
                                        height: 50px
                                        width: 210px

                .slider
                    width: calc(40vw - 30px)

                    .image
                        width: calc(100% - 70px)
                        height: 350px

@media (max-width: 1325px)
    .wrapper
        .face_container
            .container
                padding-top: 200px

@media (max-width: 1024px)
    .wrapper
        .face_container
            .container
                padding-top: 225px

@media (max-width: 900px)
    .wrapper
        gap: 60px

        .face_container
            height: max-content

            .container
                width: calc(100% - 120px)
                padding: 0 60px
                padding-top: 225px
                gap: 15px

                .title
                    width: 100%

                .separator
                    width: 350px
                    margin-left: - 20px

                    .line
                        width: 333px

                img
                    height: auto
                    width: 50vw
                    right: 20px
                    bottom: 0

        .slider_container
            height: max-content

            .container
                flex-direction: column

                .content
                    width: 80vw

                    .head
                        width: calc(80vw - 20px)
                        padding-left: 20px

                    .description_container
                        padding: 50px 0

                        .description
                            width: calc(80vw - 100px)

                .slider
                    width: 100%
                    height: 420px
                    padding: 60px 0

                    &.vertical
                        display: none

                    &.horizontal
                        display: block

                    .image
                        height: 100%
                        width: auto
                        margin: auto
                        padding: 0 5vw

                        img
                            width: auto
                            height: 300px

@media (max-width: 768px)
    .wrapper
        .face_container
            .container
                width: calc(100% - 60px)
                padding: 0 30px
                padding-top: 225px

@media (max-width: 625px)
    .wrapper
        gap: 10px

        h1
            font-size: 24px

        .face_container
            height: max-content

            .container
                padding-top: 80px

                .title
                    width: 100%
                    font-size: 24px
                    line-height: 34px

                .separator
                    width: 320px

                    .line
                        width: 303px

                .about
                    h5
                        font-size: 18px

                    .about_list
                        .about_item
                            font-size: 14px

                img
                    position: relative
                    width: 80vw
                    margin-left: 10vw

        .slider_container
            .container
                .content
                    width: 100vw
                    padding-top: 30px

                    .head
                        width: calc(100vw - 60px)
                        padding: 0 30px

                        .production_list
                            gap: 10px

                            .production_item
                                height: 55px
                                width: 55px

                        .indicator
                            width: 30px

                    .description_container
                        .description
                            width: calc(100vw - 60px)
                            padding: 20px

                            .text
                                .name
                                    font-size: 18px

                                .about
                                    font-size: 14px

                                .bottom
                                    gap: 10px
                                    justify-content: space-between

                                    .price
                                        font-size: 18px

                                    button
                                        flex-shrink: 0
                                        height: 50px
                                        width: 175px

                .slider
                    height: 260px
                    padding: 30px 0

                    .image
                        height: 100%
                        width: auto
                        margin: auto
                        padding: 0 5vw

                        img
                            width: auto
                            height: 200px
