$text_color: #043848
$gray_color: #CFCFC7
$background_color: #FFFFFF
$active_color: #0B6886
$link_color: #7EA4B3

.wrapper
    display: flex
    justify-content: center
    width: 100vw
    color: $text_color

    .container
        display: flex
        flex-direction: column
        gap: 150px
        width: 1320px

        .breadcumbs
            display: flex
            align-items: center
            padding: 60px 0
            font-size: 14px
            gap: 5px
            flex-wrap: wrap

            .element
                opacity: 0.5

            svg
                width: 15px
                height: auto

                *
                    stroke: $gray_color

        .about
            margin-top: -150px
            display: flex
            justify-content: space-between

            .content
                display: flex
                flex-direction: column
                width: calc(50% - 30px)
                gap: 40px

                .image_mobile
                    display: none
                    width: 50%

                    img
                        width: 100%
                        heigh: auto

                .description
                    font-size: 18px
                    line-height: 25px

                button
                    width: 192px
                    display: flex
                    gap: 8px
                    font-size: 20px

                    svg
                        width: 24px
                        height: 24px

            .image
                width: 50%

                img
                    width: 100%
                    heigh: auto

        .features
            display: flex
            flex-direction: column
            gap: 40px

            .content
                display: flex
                justify-content: space-between

                .features_list
                    width: calc(40% - 30px)
                    display: flex
                    flex-direction: column
                    gap: 40px

                    .feature
                        display: flex
                        flex-direction: column

                        .num
                            width: max-content
                            font-size: 100px
                            font-family: "Russo One"
                            background-size: 100%
                            -webkit-background-clip: text
                            -moz-background-clip: text
                            -webkit-text-fill-color: transparent
                            -moz-text-fill-color: transparent
                            background-image: linear-gradient(77.6deg, rgba(0, 94, 180, 0.3) -1.43%, rgba(7, 195, 255, 0.3) 106.88%)

                        .description
                            font-size: 16px
                            line-height: 22px

                .image
                    width: 60%

                    img
                        width: 100%
                        height: auto

        .introductions
            display: flex
            flex-direction: column
            gap: 40px

            .introductions_list
                display: flex
                flex-wrap: wrap
                row-gap: 40px
                justify-content: space-between

                .introduction
                    width: calc(50% - 20px)
                    display: flex
                    gap: 20px
                    align-items: center

                    .icon
                        width: 80px
                        display: flex
                        justify-content: center
                        align-items: center
                        flex-shrink: 0

                        img
                            height: 46px
                            width: auto

                    .description
                        color: $active_color
                        font-weight: 700
                        font-size: 14px
                        flex-grow: 1

        .prices
            margin-bottom: 75px
            display: flex
            flex-direction: column
            gap: 40px

            .image_mobile
                display: none
                width: 50%

                img
                    width: 100%
                    heigh: auto

            .parameters
                width: calc(40% - 30px)
                font-size: 20px
                font-weight: 500

            .content
                display: flex
                justify-content: space-between

                .prices_content
                    display: flex
                    flex-direction: column
                    gap: 40px
                    width: calc(40% - 30px)

                    .prices_list
                        display: flex
                        flex-direction: column
                        gap: 15px
                        width: 80%

                        .price
                            display: flex
                            align-items: center
                            justify-content: space-between
                            font-size: 14px

                            .value
                                width: 85px

                    .sum
                        width: 80%
                        display: flex
                        align-items: center
                        font-size: 22px
                        justify-content: space-between

                        .position,
                        .value
                            font-weight: 700

                    .description
                        font-size: 16px
                        line-height: 22px

            .image
                width: calc(60% - 30px)

                img
                    width: 100%
                    height: auto

.relative
    position: relative

.application_container
    position: absolute
    top: 50vh
    transform: translateY(-267px)
    right: 0
    z-index: 18
    height: 535px
    width: 150px

    .application_button
        background-color: $active_color
        cursor: pointer
        display: flex
        position: relative
        height: 100%
        width: 100%
        border-radius: 4px 0 0 4px
        opacity: 1
        transition: all 0.2s ease-out

        &.hidden
            opacity: 0

        svg
            margin-left: 25px
            width: 30px
            height: auto

        .button_text
            color: $background_color
            font-size: 40px
            font-family: "Russo One"
            position: absolute
            z-index: 15
            transform: rotate(-90deg)
            height: 535px
            width: 535px
            left: 65px
            bottom: 60px

    .order
        position: absolute
        z-index: 16
        right: 0
        top: 50%
        transform: translateY(-50%)
        width: 0
        height: 450px
        overflow: hidden
        transition: all .2s ease-out

        &.active
            width: 1100px

        .order_container
            background-color: $active_color
            position: relative
            width: calc(100% - 80px)
            height: 370px
            display: flex
            justify-content: space-between
            align-items: center
            padding: 40px
            border-radius: 8px 0 0 8px

            .content
                width: 340px
                display: flex
                flex-direction: column
                gap: 10px

                .title
                    font-size: 20px
                    font-family: "Russo One"
                    color: $background_color
                    text-align: center

                .description
                    font-size: 16px
                    color: $background_color
                    line-height: 21.6px
                    opacity: 0.8
                    text-align: center

                form
                    margin-top: 10px
                    display: flex
                    flex-direction: column
                    gap: 10px

                    button
                        width: 100%
                        margin-top: 10px

                    input
                        width: calc(100% - 30px)
                        height: 16px

                    .agreement
                        font-size: 12px
                        color: $background_color
                        line-height: 18px

                        span
                            color: $link_color
                            cursor: pointer

            .close
                cursor: pointer
                height: 100%
                width: 30px
                display: flex

                svg
                    width: auto
                    height: 30px

    .message
        position: absolute
        z-index: 17
        right: 0
        top: 50%
        transform: translateY(-50%)
        width: 0
        height: 450px
        overflow: hidden
        transition: all .2s ease-out

        &.active
            width: 1100px

        .message_container
            background-color: $active_color
            position: relative
            width: calc(100% - 80px)
            height: 370px
            display: flex
            justify-content: space-between
            align-items: center
            padding: 40px
            border-radius: 8px 0 0 8px

            .close
                cursor: pointer
                position: absolute
                top: 40px
                right: 40px
                z-index: 15
                height: 30px
                width: 30px

                svg
                    width: 100%
                    height: 100%

            .content
                display: flex
                flex-direction: column
                align-items: center
                gap: 15px

                .title
                    font-size: 44px
                    font-weight: 700
                    font-family: "Roboto"
                    color: $background_color

                .description
                    font-size: 24px
                    font-family: "Roboto"
                    color: $background_color

            .image
                height: 100%
                margin-right: -40px

                img
                    height: 100%
                    width: auto

.overlay
    background: rgba(0, 0, 0, 0)
    transition: all .15s ease-out
    height: 100%
    width: 0
    position: absolute
    z-index: 15
    top: 0
    right: 0

    &.active
        background: rgba(0, 0, 0, 0.8)
        width: 100%

@media (max-width: 1380px)
    .wrapper
        .container
            width: calc(100% - 120px)
            padding: 0 60px
            gap: 100px

            .breadcumbs
                padding: 40px 0

            .about
                margin-top: -100px
                flex-direction: column

                .content
                    width: 100%

                    .image_mobile
                        width: 65%
                        align-self: center
                        display: flex

                    .description
                        width: 80%

                .image
                    display: none

            .prices
                margin-bottom: 40px

                .image
                    width: calc(50% - 25px)

                .parameters
                    width: 50%

                .content
                    .prices_content
                        width: 50%

                        .prices_list
                            width: 100%

                        .sum
                            width: 100%

    .application_container
        display: none

@media (max-width: 1024px)
    .wrapper
        .container
            gap: 75px

            .breadcumbs
                padding: 30px 0

            .about
                margin-top: -75px

                .content
                    gap: 20px

                    .image_mobile
                        width: 100%

            .features
                .content
                    gap: 20px

                    .features_list
                        width: calc(50% - 30px)
                        gap: 30px

                    .image
                        width: 50%

            .prices
                gap: 25px

                .image_mobile
                    width: 75%
                    display: flex

                .image
                    display: none

                .parameters
                    width: 75%

                .content
                    .prices_content
                        width: 75%
                        gap: 25px

                        .prices_list
                            width: 100%

                        .sum
                            width: 100%

                        .description
                            font-size: 14px

@media (max-width: 768px)
    .wrapper
        .container
            width: calc(100% - 40px)
            padding: 0 20px
            gap: 50px

            .breadcumbs
                padding: 20px 0

            .about
                margin-top: -50px

                .content
                    gap: 15px

                    .description
                        width: 100%
                        font-size: 14px

            .features
                .content
                    gap: 15px
                    flex-direction: column-reverse

                    .features_list
                        width: 100%
                        gap: 20px
                        flex-direction: row
                        flex-wrap: wrap

                        .feature
                            width: calc(50% - 10px)

                            .num
                                font-size: 80px

                    .image
                        align-self: center
                        width: 80%

            .introductions
                gap: 26px

                .introductions_list
                    row-gap: 26px

                    .introduction
                        width: calc(50% - 13px)
                        gap: 15px

            .prices
                gap: 20px
                margin-bottom: 25px

@media (max-width: 600px)
    .wrapper
        .container
            .introductions
                gap: 26px

                .introductions_list
                    gap: 20px

                    .introduction
                        width: 100%

            .prices
                .image_mobile
                    width: 100%

                .parameters
                    width: 100%

                .content
                    .prices_content
                        gap: 20px
                        width: 100%

@media (max-width: 360px)
    .wrapper
        .container
            width: calc(100% - 20px)
            padding: 0 10px
            gap: 40px

            .about
                margin-top: -40px

            .features
                .content
                    .features_list
                        gap: 16px

                        .feature
                            width: 100%

                            .num
                                font-size: 60px

                    .image
                        width: 100%

            .prices
                .parameters
                    font-size: 16px

                .content
                    .prices_content
                        .sum
                            font-size: 18px
